{% extends 'layout.twig' %}

{% block body %}
<div class="main-container">
    <div>
        <h1>{{ random }}</h1>
        <p>Created by <a href="https://github.com/viruscmd">VCOBA</a></p>
    </div>
</div>
{% endblock %}


{% block css %}
<link rel='stylesheet' href='/stylesheets/internet.css'/>
{% endblock %}
