{% extends 'layout.twig' %}

{% block body %}
    <div class="main-container text-center">
        <div>
            <h1><span class='strike'>Don't<span></span></span> get short with me!</h1>
            <div>
                <form action="/shorten" id="shorten">
                    <div>
                        <input type="text" name="shortURL" placeholder="website...">
                    </div>

                    <div class='text-left'>
                        <input type='checkbox' name='doesExpire' id='doesExpire'>
                        <label for='doesExpire'>link expires</label>
                    </div>
                    
                    <div>
                        <input class='hidden' type='date' name='expiry' id='expiry'>
                    </div>

                    <div>
                        <input type="submit" value="get short" class="btn btn-default">
                    </div>
                </form>
            </div>

            <br>

            <div id="content"></div>
        </div>
    </div>

    <div class="footer">
        <div class="left">&copy; Austin Barrett | all rights reserved</div>
        <div class="right text-right">photo by <a href="https://www.pexels.com/@blitzboy">Sindre Strøm</a></div>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel='stylesheet' href='/stylesheets/short.css'/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/javascripts/jquiry.js"></script>
    <script src="/javascripts/short.js"></script>
{% endblock %}